{% extends "admin/master.html" %}

{% set appdetail= app_details() %}

{% block head %}
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 <link rel="stylesheet" href="{{ url_for('static',filename='css/w3.css') }}"/>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/w3-colors-food.css') }}"/>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/w3-colors-camo.css') }}"/>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
 <script src="{{ url_for('static', filename='script/w3.js') }}"></script>
 <script src="{{ url_for('static', filename='script/blog.js') }}"></script>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/blog/'+app_details().logo) }}">

{% endblock %}

{% block brand %}

<!-- <div class="w3-container"> -->
 <img class="w3-round-xxlarge w3-hover-sepia" src="{{ url_for('static',filename='images/blog/'+appdetail.logo) }}" max-width="40px" height="50px" alt="Site logo">
</img> 
<!-- </div> -->

{% endblock %}

{% block access_control %}
<div class="w3-container w3-bar w3-margin-bottom">
{% if current_user.is_authenticated %}
  <button class="w3-button w3-red w3-bar-item w3-mobile">
    <a href="{{ url_for('accounts.logout_user',) }}">
    <i class="fa fa-power-off"></i>
    Logout
    </a>
  </button>
  
   {% else %}
 <button class="w3-button w3-teal w3-bar-item w3-mobile">
   <a href="{{ url_for('accounts.login_user',)+'?next='+appdetail.url+url_for('admin.index') }}">
   <i class="fa fa-user-plus"></i>
   Login
     </a>
   </button>
 {% endif %}
  
</div>
{% endblock %}

{% block body %}
<div class="w3-display-container">
<h2> Welcome admin <strong>{{ current_user.name }}</h2>
<p>This panel will allow you to manage all models. Any changes that will be made here, will affect the entire database.</p>
</div>

<div class="w3-hide-large w3-hide-medium">

<h3 class="w3-bottombar w3-border-teal">Trending blogs this week</h3>

 <div class=" w3-container w3-cell-row">
 
   {% for blog in weekly_trending_blogs() %}
    <div class="w3-display-container w3-panel w3-card-4 w3-round-large w3-cell w3-mobile w3-padding" style="max-width:350px;">
     <h4 class="w3-center">
     <a href="{{ url_for('blogs.blog_view',uuid=blog.uuid)}}">
        {{ blog.title }}
        </a>
     </h4>
     <div class="w3-container w3-center w3-margin-bottom w3-cell-row">
      {% for category in blog.categories %}
         <a href="{{ url_for('blogs.category_view',category=category.name.lower()) }}" class="w3-padding w3-small w3-border w3-border-green w3-food-grapes w3-round w3-cell w3-mobile" style="color:{{ category.color }}">{{ category }}</a>
      {% endfor %}
     </div>      
     {% if blog.link %}
        {{ youtube_iframe(blog.link)|safe }}
     {% else %}
       <img class="w3-image w3-hover-sepia" width="100%" max-height="350px" src="{{ url_for('static', filename='images/blog/'+blog.cover_photo) }}" alt="{{ blog.title }}"></img>
    {% endif %} 
       
     <div class="w3-container">
     <p>{{ blog.intro }}</p>
     <div class="w3-display-bottomleft w3-panel w3-blue w3-border w3-round">
          <i class="w3-large w3-transparent w3-large fa fa-eye"></i>
           <span> {{ blog.views }}</span>
        </div>
      <div class="w3-display-bottomright w3-panel w3-pale-yellow w3-round">
       <script>document.write(formatTimeAgo("{{ blog.created_on }}"))</script>
      </div>
      
     </div>
     
    </div>
  {% endfor %}
 <div class="w3-container w3-center">
  <p class="w3-camo-grey w3-button w3-padding"><a href='{{ url_for("home") }}'>Visit site</a></p>
 </div>
</div>

</div>
{% endblock %}

{% block tail %}
<div class="w3-container w3-camo-forest w3-panel w3-hide-large w3-hide-medium">

  <div class="w3-center w3-margin">
 
  <div class='w3-small w3-text-white'>
    <p class="w3-center">{% for owner in appdetail.owners %} {{ owner }} {% endfor %}</p>
  </div>
 
   <div>
    <p class="w3-text-red">
    <i class="fa fa-quote-left"></i>
    {{ appdetail.slogan }}
    <i class="fa fa-quote-right"></i>
    </p>
  </div>
  
  <div class="w3-center w3-hover-text-blue w3-panel">
  <p class="w3-large w3-text-blue"> {{ appdetail.name }} &copy 
   <script>
     var date = new Date();
      document.write(date.getFullYear());
    </script>
   </div> 
    
 </div>
</div>

 <!-- Alerts non-mobile users -->
<div class="w3-hide-small w3-tex-red w3-center">
 <h3 class="w3-jumbo"><span class="w3-bottombar w3-border-teal w3-text-red w3-hover-border-blue">Mobile </span>Users Only!</h3>
 <p class="w3-text-teal">
 Hello admin, to experience the best; access the panel on mobile!
 </p>
</div>
{% endblock %}
