<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
{% set appdetail = app_details() %}
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 <style>
    p{
        text-align: center;
    }
    body{
        color:white;
    }
 </style>
 </head>
<body>
    <div class="w3-container">
        <h3 style="text-align:center;">{{ title }}</h3>
        {{ message|safe }}
    </div>
    <footer style="height:100px;text-align: center;">
        <h5>{{ appdetail.name }} © {{ year }}</h5>
        <p class="w3-small">{{ appdetail.slogan }}</p>
    </footer>
</body>
 </html>