Flask==2.2.3
Flask-Admin==1.6.1
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Migrate==4.0.4
Flask-Minify==0.42
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
python-dotenv==1.0.0
flask-babel==3.1.0
python-slugify==8.0.1
fontawesome-markdown==0.2.6
jinja2-markdown==0.0.3
email-validator==2.0.0.post2