{% extends 'base.html' %}

{% block body %}
<div class="w3-container">
<div class="w3-center">
<form class="w3-panel w3-form w3-padding-large w3-card-4" method="POST" action="{{ url_for('accounts.login_user') }}" enctype='multipart/form-data'>
<h4 class="w3-center w3-bottombar w3-border-red">Admin Login</h4>
{{ form.hidden_tag() }}
{% for entry in [form.identifier, form.password,form.remember_me] %}
  {% if entry.errors %}
     {% for error in entry.errors %}
        <p class="w3-text-red">{{ error }}</p>   
     {% endfor %}
  {% endif %}
 <div class="form-label"> {{ entry.label }} </div>
 <div class="form-field">{{ entry() }} </div>
 <br>
{% endfor %}
  <input type="submit" class="w3-button w3-teal" value="Login">{# form.submit() #}</input>

   <p>Forgot password? <a href="{{ url_for('accounts.reset_password') }}">Reset</a></p>
   <!-- <p>Don't have account? <a href="{{ url_for('accounts.create_account') }}">Create One</a></p> -->
 </form>
</div>
</div>
{% endblock %}