{% extends 'base.html' %}
{% block body %}
<div class="w3-container"></div>
 <div class="w3-container">
  <form action="{{ url_for('accounts.reset_password') }}" method="POST" class="w3-card-4 w3-padding-large">
  {{ form.hidden_tag() }}
     {% for entry in [form.email,] %}
     {{ entry.label }} 
     {% if form.errors %}
          {% for error in form.errors %}
            <div class="w3-panel w3-border w3-leftbar w3-pale-yellow w3-text-red">
            <p>{{ error }}</p>
            </div>
          {% endfor %}
         {% endif %}
       {{ entry() }}
     {% endfor %}
   <button type="submit" class="w3-button w3-teal w3-round-large w3-block w3-margin-top">Reset</button>
   </form>
 </div>
 {% endblock %}