{% extends 'base.html' %}
{% block body %}
<div class="w3-container">
<p> Enter the verification code sent to your email + new password</p>
</div>
<div class="w3-container">
  <form action="{{ url_for('accounts.reset_password_new') }}" method="POST" class="w3-card-4 w3-padding-large">
     {{ form.hidden_tag() }}
     {% for entry in [form.token, form.password, form.confirm_password,] %}
     {{ entry.label }} 
     {% if form.errors %}
          {% for error in form.errors %}
            <div class="w3-panel w3-border w3-leftbar w3-pale-yellow w3-text-red">
            <p>{{ error }}</p>
            </div>
          {% endfor %}
         {% endif %}
       {{ entry() }}
     {% endfor %}
    <button type="submit" class="w3-round-large w3-margin-top w3-button w3-teal">Confirm</buton>
   </form>
 </div>
 {% endblock %}