{% extends 'blog/base.html' %}

{% set appdetail = app_details() %}

{% block  head %}
<script src="{{ url_for('static', filename='script/w3codecolor.js') }}"></script>
<title>{{ blog.title }} | {{ appdetail.name }}</title>
<!-- SEO Meta Tags -->
  <meta name="description" content="{{ blog.intro }}">
  <meta name="keywords" content="{% for tag in blog.categories %} {{ tag }}, {% endfor %} {{ appdetail.keywords }}">
  <meta name="author" content="{{ blog.author }}">

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="{{ blog.title }} | {{ appdetail.name }}">
  <meta property="og:description" content="{{ blog.intro }}">
  <meta property="og:image" content="{{ appdetail.url+url_for('static',filename='files/'+blog.cover_photo) }}">
  <meta property="og:url" content="{{ appdetail.url+url_for('blogs.blog_view',uuid=blog.uuid) }}">
  <meta property="og:type" content="website">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ blog.title }} | {{ appdetail.name }}">
  <meta name="twitter:description" content="{{ blog.intro }}">
  <meta name="twitter:image" content="{{ appdetail.url+url_for('static',filename='files/'+blog.cover_photo) }}">

  <!-- Schema.org Markup -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "name": "{{ appdetail.name }}",
      "url": "{{ appdetail.url+url_for('blogs.blog_view', uuid=blog.uuid) }}",
      "headline": "{{ blog.title }}",
      "datePublished": "{{ blog.created_on }}",
      "logo": "{{ appdetail.url+url_for('static', filename='files/'+blog.cover_photo) }}",
      "description": "{{ blog.intro }}",
      "articleBody" : "{{ blog.content[:60]+'...' if len_(blog.content)>60 else blog.content }}",
      "author": {
        "@type": "Person",
        "name": "{{ blog.authors[0] }}",
        "image": "{{ appdetail.url+url_for('static', filename='files/'+appdetail.logo) }}",
        "description": "{{ blog.authors[0].bio }}"
      }      
      "sameAs": [
      {% for site in social_media_sites() %} 
      "{{ site.link }}",
      {% endfor %}
      ]
    }
  </script>
  
{% endblock %}

{% block body %}

   <div class="w3-display-container w3-text-white w3-margin-bottom">
     {% if blog.cover_photo %} 
      <img class="w3-opacity-max w3-hover-grayscale" src="{{ url_for('static',filename='files/'+blog.cover_photo) }}" width="100%" height="auto" style="min-height:200px;" alt="{{ blog.cover_photo }}">
     {% elif appdetail.cover_photo %}
      <img class="w3-opacity-max w3-hover-grayscale" src="{{ url_for('static',filename='files/'+appdetail.cover_photo) }}" width="100%" height="auto" style="min-height:200px;" alt="{{ appdetail.cover_photo }}">
     {% endif %}
     
      <div class="w3-display-middle w3-container">
         <h1 class="w3-text-red w3-xlarge title">{{ blog.title }}</h1>
       </div>
      <div class="w3-display-bottomleft w3-container">
        <p class="w3-text-orange"><i class="w3-text-large w3-text-teal fa fa-edit"></i>   
        Author :
        {% for author in blog.authors %}
        <a href="{{ url_for('blogs.author', name=author) }}">{{ author }}</a><br>
        {% endfor %}
        </p>
      </div>
      <div class="w3-display-bottomright w3-container">
         <p class="w3-text-orange"><i class="w3-text-large w3-text-teal fa fa-calendar"></i> <script>document.write(formatTimeAgoShort("{{ blog.created_on }}"));</script></p>
       </div>
   </div>
   
<div class="w3-container">
     <div class="w3-container w3-left w3-margin-bottom w3-cell-row">    
      {% for category in blog.categories %}
         <a href="{{ url_for('blogs.category_view',category=category.name) }}" class="w3-padding w3-small w3-border w3-border-green w3-food-grapes w3-round w3-cell w3-mobile" style="color:{{ category.color }}"><i class="w3-large w3-text-red fa fa-tag"></i>{{ category }}</a>
      {% endfor %}
     </div>   

     {{ blog.html_content|safe }}
  
 <div class="w3-container w3-center w3-padding w3-margin">
 {% if blog.link %}
     {{ youtube_iframe(blog.link)|safe }}
 {% endif %}
 </div>

 <div class="w3-display-container">
   <div class="w3-display-left w3-tooltip">
     <i class="w3-large w3-transparent fa fa-eye w3-hover-text-red"></i>
    <span> {{ blog.views }}</span> <br>
    <i class="w3-text w3-small"><em>Total Visitors</em></i>
   </div>
 
 <div class="w3-display-right w3-tooltip">
 <!-- To be handled by Js -->
   <button class="w3-btn" id="likeBlog" onClick="addLike('{{ url_for('blogs.add_like')+'?uuid='+blog.uuid }}');">
    <i class="w3-large w3-hover-text-red fa fa-thumbs-up"></i><span class="w3-large" id="likesCount">{{ blog.likes }}</span>
  </button><br>
  <i class="w3-text w3-small"><em>Like this</em></i>
  </div>
 </div>
 
</div>
<!--Blog from user defined ends here -->

<!-- Blog Comments -->
<p class="w3-large w3-bottombar w3-border-black">
<span class="w3-badge w3-teal w3-left w3-small">{{ len_(blog.comments) }}</span>
Comments <i class="w3-text-red w3-xlarge fa fa-comments"></i>
</p>

<div class="w3-container w3-cell-row">
  {% for count, comment in enumerate_this(blog.comments) %}
  {% if count%2==0 %}
    {% set side='left' %}
  {% else %}
    {% set side='right' %}
  {% endif %}
  {% set commentId="comment-"+str_(count) %}
  <div class="w3-display-container w3-panel w3-card-4 w3-cell w3-mobile w3-animate-{{ side }}" style="max-width:320px">
  
   <div class="w3-left">
    <i class="w3-text-black fa fa-user w3-xxlarge" style="margin-right:3px;"></i>
    <span class="w3-strong commenter">{{ comment.username }}</span>
   </div>
 
   <p class="w3-right comment-detail">{{ comment.content }}</p>
    <div class="w3-container w3-display-bottom">
     <button class="w3-btn w3-left w3-text-yellow" onclick="addCommentLike('{{ url_for('blogs.add_comment_like')+'?id='+str_(comment.id) }}', '{{ commentId }}');" id='btn-{{ commentId }}'>
        <i class="w3-large fa fa-heart w3-hover-text-red" style="margin-right:3px;"></i>
           <span id="{{ commentId }}">{{ comment.likes }}</span><br>
     </button>
    <p class="w3-text-teal w3-right">
    <i class="w3-text-yellow fa fa-{{ comment.mood }}"></i>
    <script>document.write(formatTimeAgoShort("{{ comment.created_on }}"));</script>
    </p>
  </div>
   
  </div>
  {% endfor %}
</div>
  
<!-- comment -->
<div class="w3-center w3-padding">
  {% if blog.accept_comments %}
 <button class="w3-button w3-teal w3-round" onclick="w3.show('#commentModal')">
 Leave a comment
 </button>
 {% else %}
 <p class="w3-text-black w3-hover-grey w3-yellow">Not accepting comments.</p>
 {% endif %}
</div>
<div class="w3-container w3-modal w3-animate-zoom" id="commentModal">
 <div class="w3-display-container w3-modal-content w3-card-4 w3-round">
 <button class="w3-display-topright w3-xlarge w3-transparent w3-text-red w3-btn" onclick="w3.hide('#commentModal')">&times</button>
   <h4 class="w3-center w3-text-teal w3-padding"><i class="w3-xxlarge fa fa-comment"></i> </h4>
  <form class="w3-container" action="{{ url_for('blogs.comment') }}" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {% for entry in [form.username, form.email, form.content, form.mood] %}
      {{ entry.label }}
      <ul class="w3-ul">
      {% for error in entry.errors %}
       <li class="w3-display-container w3-text-red w3-hover-yellow">{{ error }}
         <span onclick="this.parentElement.style.display='none'" class="w3-button w3-display-right w3-text-black">&times;</span>
        </li>
      {% endfor %}
      </ul>
       {{ entry() }}<br>
    {% endfor %}
    <button type="submit" class="w3-button w3-black w3-block w3-round-large w3-margin-bottom">
    Comment   <i class="fa fa-paper-plane w3-large"></i>
    </button>
   </form>
  <div>
 </div>

</div>
</div>

<!-- Footers -->

  <!-- Related blogs-->
    <h4 class="w3-bottombar w3-border-teal">Related</h4>
    <div class="w3-container w3-section">
    {% for blog in related_blogs %}
     <div class="w3-display-container w3-panel w3-card-4 w3-white">
     <a href="{{ url_for('blogs.blog_view',uuid=blog.uuid) }}">
      <h4 class="w3-text-grey w3-large">{{ blog.title }}</h4>
      <p><i>{{ blog.intro }}</i></p>
      <p class="w3-display-bottomright w3-round w3-center w3-small w3-{{ blog.categories[0].color }}" style="margin-right:2px">
       <span class="w3-margin"><script>document.write(formatTimeAgoShort("{{ blog.created_on }}"));</script></span>
      </p>
      </a>
     </div>
     {% endfor %}
    </div>
    <!--For code syntax highlighting-->
    <script>w3CodeColor();</script>

{% endblock %}