{% extends 'blog/base.html' %}

{% set appdetail = app_details() %}
{% block head %}
 {% set title = search_type.capitalize()+' : '+query %}
 <title>{{ title }}  | {{ appdetail.name }}</title> 
<!-- SEO Meta Tags -->
  <meta name="description" content="{{ appdetail.description }}">
  <meta name="keywords" content="{{ appdetail.keywords }}">
  <meta name="author" content="{% for owner in appdetail.owners %} {{ owner }}, {% endfor %}">

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="{{ title }} | {{ appdetail.name }} | {{ appdetail.slogan }}">
  <meta property="og:description" content="{{ appdetail.description }}">
  <meta property="og:image" content="{{ appdetail.url+url_for('static',filename='files/'+appdetail.logo) }}'">
  <meta property="og:url" content="{{ appdetail.url }}">
  <meta property="og:type" content="website">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ title }} | {{ appdetail.slogan }}">
  <meta name="twitter:description" content="{{ appdetail.description }}">
  <meta name="twitter:image" content="{{ appdetail.url+url_for('static',filename='files/'+appdetail.logo) }}">
 <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='files/'+appdetail.logo) }}">
  <!-- Schema.org Markup -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "{{ appdetail.name }}",
      "url": "{{ appdetail.url }}",
      "logo": "{{ appdetail.url+url_for('static', filename='files/'+appdetail.logo) }}",
      "description": "{{ title }}",
      "sameAs": [
      {% for site in social_media_sites() %} 
      "{{ site.link }}",
      {% endfor %}
      ]
    }
  </script>
  
 {% endblock %}
 
 {% block body %}
  <div class="w3-hide-large w3-hide-medium">
  <h3 class="w3-strong w3-center w3-food-wheat w3-padding">{{ len_(blogs) }} match(es) found.</h3>
 <div class=" w3-container w3-cell-row">
 </div>
   {% for blog in blogs %}
    <div class="w3-display-container w3-panel w3-card-4 w3-round-large w3-cell w3-mobile w3-padding w3-animate-zoom" style="max-width:100%;">
     <h4 class="w3-center">
     <a href="{{ url_for('blogs.blog_view',uuid=blog.uuid)}}">
        {{ blog.title }}
        </a>
     </h4>
     <div class="w3-container w3-center w3-margin-bottom w3-cell-row">
      {% for category in blog.categories %}
     <!-- <button class=""> -->
         <a href="{{ url_for('blogs.category_view',category=category.name) }}" class="w3-padding w3-small w3-border w3-border-green w3-food-grapes w3-round w3-cell w3-mobile" style="color:{{ category.color }}">{{ category }}</a>
      <!-- </button> -->
      {% endfor %}
     </div>      
     {% if blog.link %}
        {{ youtube_iframe(blog.link)|safe }}
     {% else %}
       <img class="w3-image w3-hover-sepia" width="100%" max-height="350px" src="{{ url_for('static', filename='files/'+blog.cover_photo) }}" alt="{{ blog.title }}"></img>
    {% endif %} 
       
     <div class="w3-container">
     <p>{{ blog.intro }}</p>
     <!-- </div> -->
     
      <div class="w3-display-bottomright w3-panel w3-pale-yellow w3-round">
       <script>document.write(formatTimeAgo("{{ blog.created_on }}"))</script>
      </div>
      
     </div>
     
    </div>
   <!-- </div> -->
  {% endfor %}
  
  <div class="w3-container" id="displayMoreSearch">
  <!-- New loads rendered here -->
  </div>
  
  <!-- Load more -->
  <div class="w3-container w3-large w3-center">
    <div id="loadMoreSpinner" class="w3-padding w3-spin" style="display:none">
    <i class="w3-xxlarge w3-text-red fa fa-circle-notch"></i>
    </div>
   <button id="loadMoreButton" class="w3-margin-bottom w3-padding w3-teal w3-border w3-btn w3-round-large" onclick="loadMore('{{ url_for('blogs.load_more_'+search_type) }}');" style="max-width:40%;">Load more</button>
  </div>
{% include 'blog/trending.html' %}
</div>
{% endblock %}