{% extends 'blog/base.html' %}

{% set appdetail = app_details() %}

{% block head %}
 <title>{{ appdetail.name }} | {{ appdetail.slogan }}</title>
 
<!-- SEO Meta Tags -->
  <meta name="description" content="{{ appdetail.description }}">
  <meta name="keywords" content="{{ appdetail.keywords }}">
  <meta name="author" content="{% for owner in appdetail.owners %} {{ owner }}, {% endfor %}">

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="{{ appdetail.name }} | {{ appdetail.slogan }}">
  <meta property="og:description" content="{{ appdetail.description }}">
  <meta property="og:image" content="{{ appdetail.url+url_for('static',filename='files/'+appdetail.logo) }}">
  <meta property="og:url" content="{{ appdetail.url }}">
  <meta property="og:type" content="website">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ appdetail.name }} | {{ appdetail.slogan }}">
  <meta name="twitter:description" content="{{ appdetail.description }}">
  <meta name="twitter:image" content="{{ appdetail.url+url_for('static',filename='files/'+appdetail.logo) }}">

  <!-- Schema.org Markup -->
  <script type="application/ld+json">
    {
      "@context": "https:/schema.org",
      "@type": "Organization",
      "name": "{{ appdetail.name }}",
      "url": "{{ appdetail.url }}",
      "logo": "{{ appdetail.url+url_for('static', filename='files/'+appdetail.logo) }}",
      "description": "{{ appdetail.description }}",
      "sameAs": [
      {% for site in social_media_sites() %} 
      "{{ site.link }}",
      {% endfor %}
      ]
    }
  </script>
  
 {% endblock %}
 
  {% block body %}
    
<div class="w3-cell-row">
  {% for blog in blogs %}
   <div class="w3-display-container w3-panel w3-card-4 w3-round-large w3-padding  w3-cell w3-mobile w3-animate-left" style="max-width:100%;">
     <h4 class="w3-center">
         <a href="{{ url_for('blogs.blog_view',uuid=blog.uuid)}}">
         {{ blog.title }} 
         </a>
     </h4>
     <div class="w3-container w3-center w3-margin-bottom w3-cell-row">
      {% for category in blog.categories %}
    
         <a href="{{ url_for('blogs.category_view',category=category.name.lower()) }}" class="w3-padding w3-small w3-border w3-border-green w3-food-grapes w3-round w3-cell w3-mobile" style="color:{{ category.color }}">{{ category }}</a>
      {% endfor %}
     </div>      
     {% if blog.link %}
        {{ youtube_iframe(blog.link)|safe }}
     {% else %}
       <img class="w3-image w3-hover-sepia" width="100%" max-height="350px" src="{{ url_for('static', filename='files/'+blog.cover_photo) }}" alt="{{ blog.title }}"></img>
    {% endif %} 
       
     <div class="w3-container">
     <p>{{ blog.intro }}</p>
     
      <div class="w3-display-bottomright w3-panel w3-pale-yellow w3-round">
       <script>document.write(formatTimeAgo("{{ blog.created_on }}"))</script>
      </div>
      
     </div>
     
    </div>
   
    
  {% endfor %}
  
</div>
{% include 'blog/trending.html' %}
<pre>

</pre>
{% include "blog/subscribe_bar.html" %}

{% endblock %}