<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
 <title>John's Youtube-Blog</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 <link rel="stylesheet" href="w3.css"/>
 <link rel="stylesheet" href="w3-colors-food.css"/>
 <link rel="stylesheet" href="w3-colors-camo.css"/>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
 <script src="w3.js"></script>
 <style>
   a{
     text-decoration:none;
   }
   </style>
</head>
<body>
 <!-- Navigator -->
  <div class="w3-display-container w3-food-strawberry" style="height:7vh">
    <!-- Bar -->
   <div class="w3-display-left">
    <div class="w3-dropdown-hover">
      <i class="fa fa-bars w3-xxlarge w3-red"></i>
      <!-- <button class="w3-btn w3-food-olive w3-ripple">Hello</button> -->
      <div class="w3-dropdown-content w3-card-2 w3-border w3-pale-yellow" style="max-width:20vh">
       <button class="w3-button w3-col w3-hover-text-green">
        <a href="#Technology">Technology</a>
       </button>
       <button class="w3-button w3-col w3-hover-text-red">
        <a href="#Science">Science</a>
       </button>
       <button class="w3-button w3-col w3-hover-text-blue">
        <a href="#Gossips">Gossips</a>
       </button>
       <button class="w3-button w3-col w3-hover-text-white">
        <a href="#Entertainment">Entertainment</a>
       </button>
     </div>
    </div>    
   </div>
    
    <!-- Logo -->
    
    <div class="w3-display-middle w3-text-white w3-hover-text-orange ">
     <p class="w3-hide-large w3-hide-medium w3-xlarge">
      Youtube-Blog
      </p>
     <p class="w3-hide-small w3-xxlarge">
      Youtube-Blog
     </p>
    </div>
    
    <!-- Search bar -->
    <!-- Popup modal -->
      <div class="w3-modal w3-animate-zoom w3-round" id="searchModal">
       <div class="w3-modal-content w3-display-container">
       <button class="w3-display-left w3-red" onclick="w3.hide('#searchModal')">Cancel</button><br>
       <form class="w3-form w3-container" action='' method="GET" enctype="multipart/form-data">
       <input type="search" class="w3-input w3-round-large w3-display-middle" style="max-width:60%" name="q" id="search" placeholder="Search blog..."></input>
       <button class="w3-btn w3-teal w3-round w3-display-right" type="submit">
       <i class="fa fa-search w3-large"></i>
      </button>
     </form>
       </div>
      </div>
      
    <div class="w3-display-right w3-hide-large w3-hide-medium">
     <button class="w3-btn w3-white" onclick="w3.show('#searchModal')">
      <i class="fa fa-search w3-large"></i>
      </button>
    </div>
    
    
    <div class="w3-display-right w3-hide-small">
     <form class="w3-form w3-container" action='' method="GET" enctype="multipart/form-data">
      <input type="search" class="w3-input w3-round-large w3-left" name="q" id="search" placeholder="Search blog..."></input>
      <button class="w3-btn w3-teal w3-round w3-right" type="submit">
       <i class="fa fa-search w3-large"></i>
      </button>
     </form>
    </div> 
  </div>
  <!--Body goes here -->
  
 <div class="w3-container">
   <h2>Hot like I used to</h2>
    <p>
    Sometimes I'm smart, sometimes I'm dull and that's me, it defines me,  and that's what
    it takes to be me. I'm <span class="w3-strong">Smartwa Caleb</span>.
    </p>
    
    <div class="w3-panel w3-display-container w3-pale-yellow w3-leftbar w3-border w3-border-yellow w3-round" id="warnNotch">
     <h4 class="w3-strong w3-text-red">Warning!</h4>
      <button class="w3-display-topright w3-large w3-btn w3-transparent" onclick="w3.hide('#warnNotch')">
       &times
      </button>
      <p> I'm just like any other teen guy you've ever met!</p>
    </div>
    
    <p>
    Has it ever cross your mind, the person you could have been if the creator
    would have made you of the other gender? Well that one is clicking on my mind 
    as I'm typing this!
    </p>
    
    <div class="w3-panel w3-display-container w3-pale-green w3-leftbar w3-border w3-border-green w3-round" id="warnNotch1">
     <h4 class="w3-strong w3-text-blue">Note!</h4>
      <button class="w3-display-topright w3-large w3-btn w3-transparent" onclick="w3.hide('#warnNotch1')">
       &times
      </button>
      <p> I'm an introvert and a tech enthusiast!</p>
    </div> 
    
    <div class="w3-section">
      <p>Some years back, there was a week curiosity lead me to think
      beyond my age limits; for long I used to hear about VPNs and how one can use it
      to access free internet. As my usual, Google is and used to be one of my
      best friends ever, I did my own research from there and thanks to the numerous
      cool IT guys for their tremendous effort in educating people like me
      on the lessly known informatiom regarding IT. I satisfied my curiosity well.
      
      <div class="w3-panel w3-display-container w3-leftbar w3-border w3-border-red w3-yellow w3-round" id="warnNotch2">
       <button class="w3-btn w3-display-topright w3-transparent w3-large" onclick="w3.hide('#warnNotch2')">
        &times
        </button>
        <h4 class="w3-text-purple">Critical!</h4>
        <p>I can be as bad as you've never thought but the coolest guy 
        you've never met</p>
     </div>
    </div>
    
    <table class="w3-table-all w3-hoverable">
     <caption>My Childhood mental growth indicators</caption>
    <!-- <thead>I'm whom I'm</thead> -->
     <tr class="w3-teal">
         <th>Age</th>
         <th>Wonder</th>
     </tr>
     <tr>
      <td>5</td>
      <td>When will Earth come to an end</td>
     </tr>
     <tr>
      <td>7</td>
      <td>How 'mapenzi' works</td>
     </tr>
     <tr>
      <td>9</td>
      <td>How initiation is carried out</td>
     </tr>
    </table>
    
    <!-- Top trending -->
    <h3 class="w3-bottombar w3-border-green">Trending</h4>
    <div class="w3-row-cell">
    
     <div class="w3-row w3-display-container w3-panel w3-card-4 w3-white">
     <a href="#how-akothee-escaped-attack" target="self">
      <h4 class="w3-text-grey w3-large">How Akothee escaped attack</h4>
      <p><i>“Hey you stop there..!”</i></p>
      <p class="w3-display-bottomright w3-badge w3-red" style="margin-right:2px">
       2 hrs ago
      </p>
      </a>
     </div>
     
     <div class="w3-row w3-panel w3-display-container w3-card-4 w3-white">
     <a href="#i-was-paid-to-kill" target="self">
      <h4 class="w3-text-grey w3-large">“I was paid to kill" , Karanja's murderer claims</h4>
      <p>Lawyer James Karanja who had go...</p>
      <p class="w3-display-bottomright w3-badge w3-teal" style="margin-right:2px">
       3 hrs ago
       </p>
      </a>
     </div>
    </div>
   </div>

<!-- Subscribe bar -->
<div class="w3-margin w3-container w3-center" style="max-width:90%">
  <form class="w3-form w3-display-container" action="" method="POST" enctype="multipart/form-data">
   <input class="w3-input w3-display-left w3-round w3-border-large w3-border-teal" type="email" placeholder="Email address..." name="email">
   </input>
   <button class="w3-btn w3-teal w3-ripple w3-display-right" type="submit">Subscribe</button>
  </form>
</div>

   <pre>
      
      
  </pre>
  
  <!-- Footer -->
  <div class="w3-container w3-food-egg w3-bottom  w3-center">
   <div class="w3-row-cell w3-center justify">
     <button class="w3-btn w3-food-spearmint w3-row">
     <i class="fa fa-whatsapp w3-xxlarge">
      <a href="#whatsapp"></a>
     </i>
     </button>
     <button class="w3-btn w3-food-tomato w3-row">
      <i class="fa fa-youtube w3-xxlarge">
       <a href="#youtube"></a>
      </i>
     </button>
     <button class="w3-btn w3-food-blueberry w3-row">
      <i class="fa fa-facebook w3-xxlarge">
       <a href="#facebook"></a>
      </i>
     </button>
  
     <button class="w3-btn w3-hide-small w3-food-salmon w3-row">
      <i class="fa fa-instagram w3-xxlarge">
       <a href="#instagram"></a>
      </i>
     </button>

     <button class="w3-btn w3-camo-grey w3-row">
      <i class="fa fa-telegram w3-xxlarge">
       <a href="#telegram"></a>
      </i>
     </button> 
    
     <button class="w3-btn w3-row" style="background-color:skyblue">
      <i class="fa fa-twitter w3-xxlarge">
       <a href="#twitter"><a>
      </i>
     </button>
  </div>
  
 </body>
</html>
