a{
     text-decoration:none;
   }
   
li > a {
   color: blue !important;
}

.top-element {
       position:relative;
       z-index: 9999;
   }
   
img,video, audio {
    max-width:100%;
    }
 
input:focus {
  border-color: red !important;
}

@font-face {
  font-family: elizabeth;
  src:url(/static/fonts/Elizabeth.ttf);
}

@font-face {
  font-family: grotley;
  src:url(/static/fonts/Grotley.otf);
}

/*
@font-face {
  font-family: atwriter;
  src:url(/static/fonts/CallingCode-Regular.ttf);
}*/

.comment-detail {
 font-family:grotley;
}

.commenter {
 font-family:elizabeth;
}

.raw-content{
 font-size:110%;
/* font-family:sans-serif; */
}
